body{
    margin: 0;
    padding: 0;
}
#container{
    width: 1200px;
    border: 4px ridge rgb(63, 102, 102);
    padding: 20px;
    background-color: rgb(235, 212, 248);
    margin: 0px auto;
    box-shadow: 3px 3px 5px slategrey;
}
#image1{
    background-image: url(images/picz.png);
    min-height: 500px;
   /*margin: 0px auto;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 150px ;
}
#image2{
    background-image: url(images/pic1.png);
    height: 500px;
    padding-top: 150px ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}
#image3{
    background-image: url(images/pic2.png);
    height: 500px;
    padding-top: 150px ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}
#image4{
    background-image: url(images/pic3.png);
    height: 500px;
    padding-top: 150px ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}
#header{
    width: 100%;
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 45px;
    text-shadow: 3px 3px 7px slategrey;
    font-family: 'Lobster';
    color: rgb(70, 65, 65);
    letter-spacing: 2px;
    word-spacing: 4px;
    /*border: 1px solid;*/
}
#header:hover{
   font-size: 55px;
}
p{
    font-size: 28px;
    font-family: 'Satisfy';
    font-weight: 400;
    word-spacing: 5px;
}
h2{
    font-size: 30px;
}
h3{
    font-size:27px ;
    text-decoration: underline;
}
.quote{ 
   margin: 90px;
    color: rgb(247, 242, 242);
    font-family: 'Satisfy';
    font-size: 45px;
    position: relative;
    text-align: center;
}
.quotes{
    margin: 90px;
    color: rgb(15, 14, 14);
    font-family: 'Satisfy';
    font-size: 45px;
    position: relative;
    text-align: center;
}
